<% content_for :page_title, strip_tags(@site_name.content.body).squish %>

<% content_for :extend_javascripts do %>
<% end %>

<%= content_for :actual_and_calendar do %>
  <%#= render :partial => 'regions/actual_and_calendar' if @actual || @calendar %>
<% end %>

<% content_for :content do %>
  <% if I18n.locale == :ru %>
    <div class='columns'>

      <div class='left'>
        <% if @main_page_actual %>
          <div class='main_page_actual'>
            <h2><%= @main_page_actual.part_title %></h2>
            <div class='actual'>
              <div class='scroller'><%= render_partial_for_region(@main_page_actual) %></div>
              <div class='images'></div>
            </div>
          </div>
        <% end %>
        <% if @main_page_schedule_administration || @main_page_news || @main_page_calendar %>
          <div class='main_page_tabs'>
            <% if @main_page_schedule_administration %>
              <div class='schedule_administration'>
                <%= render_partial_for_region(@main_page_schedule_administration) %>
              </div>
            <% end %>
            <% if @main_page_news || @main_page_calendar %>
              <ul>
                <%= content_tag :li, link_to('Новости', '#main_page_news') if @main_page_news %>
                <%= content_tag :li, link_to('Календарь событий', '#main_page_calendar') if @main_page_calendar %>
              </ul>
              <% if @main_page_news %>
                <div id='main_page_news' class='tab'><%= render_partial_for_region(@main_page_news, 'main_page') %></div>
              <% end %>
              <% if @main_page_calendar %>
                <div id='main_page_calendar' class='tab'><%= render_partial_for_region(@main_page_calendar, 'main_page') %></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% if @map_region %>
          <div class="map_on_main_page">
            <%= @map_region.content.body.html_safe %>
          </div>
        <% end %>
      </div>

      <div class='right'>
        <div class='main_page_gubernator'>
          <%= render :partial => 'regions/governor_position' %>
        </div>
        <div class='main_page_right_side_links'>
          <%= render_partial_for_region(@main_page_right_side_links) %>
        </div>
      </div>
    </div>
  <% end %>
  <% if I18n.locale == :en %>
    <div class='press_releases'>
      <% if @main_page_news %>
        <h1>
          <%= link_to @main_page_news.content.title, @main_page_news.content.collection_link, :class => 'to_all' %>
          <%= link_to 'RSS', @main_page_news.content.rss_link, :class => 'rss' %>
        </h1>
        <%= render_partial_for_region(@main_page_news) %>
      <% end %>
    </div>
  <% end %>
<% end %>
