<%= content_for :content do %>
  <%= @description.content.body.html_safe if @description %>
  <div id="organization_structure">
    <ul class="first no_need_links">
      <li class="first_item">
        <%= render :partial => 'organization_structure/superior', :locals => { :object => @content_first.content.items.first, :need_links => true } %>
        <ul class="second">
          <% @content_first.content.subdivisions.each do |subdivision| %>
            <% if subdivision.title.match(/губернатор\b|заместител|управляющ/i) %>
              <li class="second_item">
                <% if subdivision.items.try(:any?) %>
                  <%= render :partial => 'organization_structure/superior', :locals => { :object => subdivision.items.first, :need_links => subdivision.has_key?(:subdivisions) } %>
                <% else %>
                  <%= render :partial => 'organization_structure/fired_superior', :locals => { :object => subdivision } %>
                <% end %>
                <% if subdivision.has_key?(:subdivisions) %>
                  <ul class="third">
                    <% subdivision.subdivisions.each do |subdivision| %>
                      <li class="third_item">
                        <%= render :partial => 'organization_structure/subdivision', :locals => { :object => subdivision } %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% else %>
              <li class='second_item no_margin'>
                <%= render :partial => 'organization_structure/subdivision', :locals => { :object => subdivision } %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
  <%= render 'commons/social_links' %>
<% end if @content_first && @content_first.type == 'BluePagesPart' %>

<%= content_for :content do %>
  <%= @description.content.body.html_safe if @description %>
  <%= @content_first.content.body.html_safe %>
  <div id="government_structure">

    <div class="governor employee">
      <div class="post"><a href="/ru/organy-vlasti/gubernator/">Губернатор Томской области</a></div>
      <div class="image"><img width="178" height="234" src="http://storage.esp.tomsk.gov.ru/files/1958/178-234!/governor.jpg" alt="Жвачкин Сергей Анатольевич" /></div>
      <div class="name">Жвачкин<br />Сергей Анатольевич</div>
    </div>

    <div class="clusters">

      <div class="cluster empty">
        <ul>
          <li>
            <div class="subdivision">
              <a href="#">Департамент международных и региональных связей</a>
            </div>
          </li>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Представительства Томской области при Правительстве Российской Федерации</a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name"></div>
            </div>
          </li>
          <li>
            <div class="subdivision">
              <a href="#">Контрольный комитет Администрации Томской области</a>
            </div>
          </li>
          <li>
            <div class="subdivision">
              Стратегический совет Администрации Томской области
            </div>
          </li>
          <li>
            <div class="subdivision">
              Коллегия Администрации Томской области
            </div>
          </li>
        </ul>
      </div>

      <div class="cluster">
        <div class="title">Кластер традиционной экономики</div>
        <ul>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель Губернатора по экономике</a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name">Антонов<br />Андрей Александрович</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Департамент экономики</a></div></li>
              <li><div class="item"><a href="#">Департамент тарифного регулирования</a></div></li>
            </ul>
          </li>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель Губернатора по финансам</a></div>
              <div class="image"><img width="178px" height="234px" src="http://storage.esp.tomsk.gov.ru/files/12879/178-234!/federov.jpg" alt="Dummy" /></div>
              <div class="name">Феденёв<br />Александр Михайлович</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Департамент финансов</a></div></li>
              <li><div class="item"><a href="#">Департамент государственного заказа</a></div></li>
            </ul>
          </li>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по промышленности и топливно-энергетическому комплексу</a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name">Резников<br />Леонид Михайлович</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Департамент по недропользованию и развитию нефтегазодобывающего комплекса</a></div></li>
              <li><div class="item"><a href="#">Департамент энергетики</a></div></li>
              <li><div class="item"><a href="#">Департамент развития предпринимательства и реального сектора экономики</a></div></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="cluster">
        <div class="title">Кластер новой экономики</div>
        <ul>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по научно-образовательному комплексу и инновационной</a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name">Князев<br />Алексей Сергеевич</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Комитет по информационному развитию</a></div></li>
              <li><div class="item"><a href="#">Департамент по науке и инновационной политике</a></div></li>
              <li><div class="item"><a href="#">Департамент по высшему профессиональному образованию</a></div></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="cluster">
        <div class="title">Кластер инфраструктуры</div>
        <ul>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по строительству и инфраструктуре</a></div>
              <div class="image"><img width="178px" height="234px" src="http://storage.esp.tomsk.gov.ru/files/2932/178-234!/shaturniy.jpg" alt="Шатурный Игорь Николаевич" /></div>
              <div class="name">Шатурный<br />Игорь Николаевич</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Департамент дорожной деятельности, транспорта и связи</a></div></li>
              <li><div class="item"><a href="#">Департамент ЖКХ и государственного жилищного надзора</a></div></li>
              <li><div class="item"><a href="#">Департамент строительства и архитектуры</a></div></li>
              <li><div class="item"><a href="#">Главная инспекция государственного строительного надзора</a></div></li>
              <li><div class="item"><a href="#">Инспекция государственного технического надзора</a></div></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="cluster">
        <div class="title">Кластер инвестиций</div>
        <ul>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по инвестиционной политике и имущественным отношениям</a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name">Гурдин<br />Юрий Михайлович</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Комитет по инвестиционной политике</a></div></li>
              <li><div class="item"><a href="#">Департамент инвестиций</a></div></li>
              <li><div class="item"><a href="#">Департамент по управлению государственной собственностью</a></div></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="cluster">
        <div class="title">Кластер социальной политики</div>
        <ul>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по социальной политике </a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name">Акатаев<br />Чингис Маметович</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Департамент общего образования</a></div></li>
              <li><div class="item"><a href="#">Департамент среднего профессионального и начального профессионального образования</a></div></li>
              <li><div class="item"><a href="#">Управление по контролю, надзору и лицензированию в сфере образования</a></div></li>
              <li><div class="item"><a href="#">Департамент социальной защиты населения</a></div></li>
              <li><div class="item"><a href="#">Департамент здравоохранения</a></div></li>
              <li><div class="item"><a href="#">Департамент труда и занятости населения</a></div></li>
              <li><div class="item"><a href="#">Департамент по вопросам семьи и детей</a></div></li>
            </ul>
          </li>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по внутренней политике</a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name">Жидких<br />Владимир Александрович</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Комитет по взаимодействию с законодательными и представительными органами власти</a></div></li>
              <li><div class="item"><a href="#">Департамент по молодежной политике, физической культуре и спорту</a></div></li>
              <li><div class="item"><a href="#">Департамент по культуре и туризму</a></div></li>
              <li><div class="item"><a href="#">Комитет по работе с некоммерческими организациями</a></div></li>
              <li><div class="item"><a href="#">Департамент по информационной политике</a></div></li>
              <li><div class="item"><a href="#">Департамент государственной гражданской службы</a></div></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="cluster">
        <div class="title">Кластер развития территорий</div>
        <ul>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по территориальному развитию и взаимодействию с органами местного самоуправления</a></div>
              <div class="image"><img width="178px" height="234px" src="http://storage.esp.tomsk.gov.ru/files/3295/178-234!/rojkov.jpg" alt="Рожков Анатолий Михайлович" /></div>
              <div class="name">Рожков<br />Анатолий Михайлович</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Комитет по взаимодействию с органами местного самоуправления</a></div></li>
              <li><div class="item"><a href="#">Комитет по территориальному развитию</a></div></li>
              <li><div class="item"><a href="#">Департамент государственных и муниципальных услуг</a></div></li>
              <li><div class="item"><a href="#">Комитет ЗАГС Томской области</a></div></li>
            </ul>
          </li>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по агропромышленной политике и природопользованию</a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name">Кнорр<br />Андрей Филиппович</div>
            </div>
            <ul class="third">
              <li><div class="item">Экспертный совет</div></li>
              <li><div class="item"><a href="#">Комитет рыбного хозяйства</a></div></li>
              <li><div class="item"><a href="#">Департамент природных ресурсов и охраны окружающей среды</a></div></li>
              <li><div class="item"><a href="#">Департамент по социально-экономическому развитию села</a></div></li>
              <li><div class="item"><a href="#">Департамент лесного хозяйства</a></div></li>
              <li><div class="item"><a href="#">Управление ветеринарии</a></div></li>
              <li><div class="item"><a href="#">Департамент потребительского рынка</a></div></li>
              <li><div class="item"><a href="#">Управление по лицензированию</a></div></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="cluster last">
        <div class="title">Кластер управления</div>
        <ul>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Заместитель губернатора по вопросам безопасности</a></div>
              <div class="image"><img width="178px" height="234px" src="/assets/dummy.png" alt="Dummy" /></div>
              <div class="name">Семенченко<br />Вячеслав Константинович</div>
            </div>
            <ul class="third">
              <li><div class="item"><a href="#">Комитет общественной безопасности</a></div></li>
              <li><div class="item"><a href="#">Комитет по мобилизационной подготовке</a></div></li>
              <li><div class="item"><a href="#">Комитет по вопросам ГО и ЧС</a></div></li>
              <li><div class="item"><a href="#">Отдел по обеспечению деятельности Совета безопасности</a></div></li>
              <li><div class="item"><a href="#">Департамент по обеспечению деятельности мировых судей</a></div></li>
            </ul>
          </li>
          <li>
            <div class="employee">
              <div class="post"><a href="#">Управляющий делами</a></div>
              <div class="image"><img width="178px" height="234px" src="http://storage.esp.tomsk.gov.ru/files/3254/178-234!/ivanov.jpg" alt="Иванов Анатолий Александрович" /></div>
              <div class="name">Иванов<br />Анатолий Александрович</div>
            </div>
            <ul class="third">
              <li><div class="item"><a href="#">Комитет по общим вопросам</a></div></li>
              <li><div class="item"><a href="#">Отдел по документальной связи и режиму</a></div></li>
              <li><div class="item"><a href="#">Финансово-хозяйственное управление</a></div></li>
              <li><div class="item"><a href="#">Комитет по государственно-правовым вопросам</a></div></li>
              <li><div class="item"><a href="#">Комитет организационной работы и протокола</a></div></li>
              <li><div class="item"><a href="#">Представительство Томской области при Правительстве Российской Федерации</a></div></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </div>
<% end if @content_first && @content_first.type == 'HtmlPart' %>
