<% index = 0 %>

<table>
  <tr>
    <th>№</th>
    <th>Характеристика</th>
    <th>Описание</th>
  </tr>
  <% %w[tracking_number title description owner responsible phone].each do |field|%>
    <% index += 1 %>
    <tr>
      <td><%= index %></td>
      <td><%= t("activerecord.attributes.dataset.#{field}") %></td>
      <td><%= dataset.send(field) %></td>
    </tr>
  <% end %>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td><%= t("activerecord.attributes.dataset.email") %></td>
    <td><%= dataset.email.split(',').map{ |email| mail_to email.squish }.join(', ').html_safe %></td>
  </tr>
  <% index += 1 %>
  <% attachments = dataset.attachments %>
  <tr>
    <td><%= index %></td>
    <td>Гиперссылка (URL) на набор</td>
    <td>
      <% if attachments.any? && attachments.first.data.present? %>
        <%= link_to full_url(attachments.first.data.url), attachments.first.data.url %>
      <% else %>
        нет
      <% end %>
    </td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td>Формат данных</td>
    <td><%= dataset.attachments_formats.presence || 'нет' %></td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td>Описание структуры набора данных</td>
    <td>
      <% if attachments.any? && attachments.first.structure.present? %>
        <%= link_to full_url(attachments.first.structure.url), attachments.first.structure.url %>
      <% else %>
        нет
      <% end %>
    </td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td><%= t("activerecord.attributes.dataset.first_publish_date") %></td>
    <td>
      <% if dataset.first_publish_date.present? %>
        <%= l(dataset.first_publish_date) %>
      <% else %>
        нет
      <% end %>
    </td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td><%= t("activerecord.attributes.dataset.last_update_date") %></td>
    <td>
      <% if dataset.last_update_date.present? %>
        <%= l(dataset.last_update_date) %>
      <% else %>
        нет
      <% end %>
    </td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td><%= t("activerecord.attributes.dataset.last_update_description") %></td>
    <td><%= dataset.last_update_description %></td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td><%= t("activerecord.attributes.dataset.relevance_date") %></td>
    <td>
      <% if dataset.relevance_date.present? %>
        <%= l(dataset.relevance_date) %>
      <% else %>
        нет
      <% end %>
    </td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td><%= t("activerecord.attributes.dataset.keywords") %></td>
    <td><%= dataset.keywords %></td>
  </tr>
  <% index += 1 %>
  <% attachments.shift %>
  <tr>
    <td><%= index %></td>
    <td>Гиперссылки (URL) на версии набора данных</td>
    <td>
      <% if attachments.any? %>
        <% attachments.each do |attachment| %>
          <%= content_tag :div, link_to(full_url(attachment.data.url), attachment.data.url) if attachment.data.present? %>
        <% end %>
      <% else %>
        нет
      <% end %>
    </td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td>Гиперссылки (URL) на версии структуры набора данных</td>
    <td>
      <% if attachments.any? %>
        <% attachments.each do |attachment| %>
          <%= content_tag :div, link_to(full_url(attachment.structure.url), attachment.structure.url) if attachment.structure.present? %>
        <% end %>
      <% else %>
        нет
      <% end %>
    </td>
  </tr>
  <% index += 1 %>
  <tr>
    <td><%= index %></td>
    <td><%= t("activerecord.attributes.dataset.version_guidelines") %></td>
    <td><%= dataset.version_guidelines %></td>
  </tr>
  <% if dataset.meta.present? %>
    <tr>
      <td colspan='3'><%= link_to "Скачать #{t("activerecord.attributes.dataset.meta").mb_chars.downcase}", dataset.meta.url %></td>
    </tr>
  <% end %>
</table>

