<% @banners = nil %>
<% @page_title = @dataset.title %>

<% content_for :custom_page_title do %>
  <h1><%= @dataset.title %></h1>
<% end %>

<% content_for :content do %>
  <div class='article'>
    <p><%= link_to 'вернуться к списку наборов открытых данных', opendata_path %></p>
    <%= render :partial => '/dataset/table', :locals => { :dataset => @dataset } %>
    <table>
      <tr>
        <th>Статистика</th>
      </tr>
      <tr>
        <td>Последнее обновление <%= I18n.l @dataset.updated_at %></td>
      </tr>
      <tr>
        <td>
          <%= I18n.t 'dataset.visits', :count => @dataset.visits %>
          страницы набора открытых данных
        </td>
      </tr>
      <tr>
        <td>
          <%= I18n.t 'dataset.downloads', :count => @dataset.downloads.to_i %>
          <%= I18n.t 'dataset.data_file', :count => @dataset.attachments.map(&:data).count %>
          открытых данных</td>
      </tr>
    </table>
    <%= render 'commons/social_links' %>
  </div>
<% end %>
