<%= simple_nested_form_for [:manage, :opendata, @dataset], :html => { :multipart => true } do |f| %>
  <%= f.input :opendata_id, :as => :hidden %>
  <%= f.input :tracking_number %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :owner %>
  <%= f.input :responsible %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :first_publish_date, :as => :datepicker %>
  <%= f.input :last_update_date, :as => :datepicker %>
  <%= f.input :last_update_description %>
  <%= f.input :relevance_date, :as => :datepicker %>
  <%= f.input :keywords %>
  <%= f.input :version_guidelines %>
  <fieldset>
    <legend><%= f.label :meta %></legend>
    <%= content_tag :p do %>
      <%= link_to "Скачать #{t("activerecord.attributes.dataset.meta").mb_chars.downcase} (#{f.object.meta_file_name})", f.object.meta.url %>
    <% end if f.object.meta.present? %>
    <%= f.input :meta, :label => false, :hint => 'имя файла должно быть meta.(csv|xml|json)' %>
  </fieldset>

  <fieldset>
    <legend><%= f.label :attachments %></legend>
    <%= f.fields_for :attachments do |attachment_form| %>
      <%= content_tag :p do %>
        <%= link_to "Скачать (#{attachment_form.object.data_file_name})", attachment_form.object.data.url %>
      <% end if attachment_form.object.data.present? %>
      <%= attachment_form.input :data, :hint => 'имя файла должно быть data-20140101-structure-20140101.(csv|xml|json)' %>
      <%= content_tag :p do %>
        <%= link_to "Скачать (#{attachment_form.object.structure_file_name})", attachment_form.object.structure.url %>
      <% end if attachment_form.object.structure.present? %>
      <%= attachment_form.input :structure, :hint => 'имя файла должно быть structure-20140101.(csv|xml|json)' %>
      <%= attachment_form.link_to_remove 'Удалить' %>
    <% end %>
    <p><%= f.link_to_add 'Добавить файлы', :attachments %></p>
  </fieldset>

  <div class='actions'>
    <%= f.submit 'Сохранить' %>
    <%= link_to 'Отмена', @dataset.new_record? ? manage_opendata_path : manage_opendata_dataset_path(@dataset) %>
  </div>
<% end %>
