<div class="blue_pages">
  <h1><%= object.title %></h1>

  <div class="chief">
    <div class='title'>
      <%= object.items.first.title %>
    </div>

    <% if object.items.first.image_url %>
      <%= thumbnail_tag object.items.first.image_url, :width => 217, :height => 290, :crop => true %>
    <% else %>
      <%= image_tag image_path('dummy.png'), :width => 217, :height => 290 %>
    <% end %>

    <div class="fio">
      <% if object.items.first.link %>
        <%= link_to object.items.first.person.sub(/\s/, "<br />").html_safe, object.items.first.link %>
      <% else %>
          <%= object.items.first.person.sub(/\s/, "<br />").html_safe %>
      <% end %>
      <span class="phones">
        <%= object.items.first.phones %>
      </span>
      <span class="emails">
        <%= object.items.first.emails.map{|email| mail_to(email)}.join(', ').html_safe if object.items.first.emails %>
      </span>
    </div>
  </div>

  <% if @links %>
    <div class="links">
      <h3>Ссылки</h3>
      <%= raw @links.html_safe %>
    </div>
  <% end %>

  <div class="information">
    <% if @regulation %>
      <div class="regulation documents">
        <%= link_to content_tag(:span, '', :class => 'icon') + @regulation.content.gallery_pictures.first.description, @regulation.content.gallery_pictures.first.picture_url, :class => @regulation.content.gallery_pictures.first.picture_url.match(/\.(\w+)$/).try(:[], 1) %>
      </div>
    <% end %>

    <div class="contacts">
      <ul>
        <li>
          <span class="label">Адрес</span>
          <%= object.address %>
        </li>
        <li>
          <span class="label">Телефон</span>
          <%= object.phones %>
        </li>

        <% if object.emails %>
          <li>
            <span class="label">Email</span>
            <%= object.emails.map{|email| mail_to(email)}.join(', ').html_safe %>
          </li>
        <% end %>

        <% if object.url %>
          <li>
            <span class="label">Сайт</span>
            <%= link_to object.url, object.url %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="dossier">
      <%= object.dossier.html_safe if object.dossier %>
    </div>
  </div>

  <% if object.items %>
    <h2>Сотрудники</h2>
    <ul class='employees'>
      <% object.items.each do |item| %>
        <li>
          <% if item.link %>
            <%= link_to item.person, item.link, :class => 'fio' %>
          <% else %>
            <span class="fio"><%= item.person %></span>
          <% end %>
          <span class='title'><%= item.title %></span>
          <span class="phones"><%= item.phones %></span>
          <span class="emails"><%= item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails %></span>
          <span class="address"><%= item.address %></span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if object.subdivisions %>
    <h2>Подразделения</h2>
    <ul class='subdivisions'>
      <% object.subdivisions.each do |item| %>
        <li>
          <h3><a href="#" class='slider'><%= item.title %></a></h3>

          <div class="subdivision_information slider_body">
            <div class="contacts">
              <span class='address'><%= item.address %></span>
              <span class='phones'><%= item.phones %></span>
              <span class='emails'>
                <%= item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails %>
              </span>
              <span class='site'>
                <%= link_to item.site, item.site if item.site %>
              </span>
            </div>

            <h4>Сотрудники</h4>

            <ul class='employees'>
              <% item.items.each do |item| %>
                <li>
                  <% if item.link %>
                    <%= link_to item.person, item.link, :class => 'fio' %>
                  <% else %>
                    <span class="fio"><%= item.person %></span>
                  <% end %>
                  <span class='title'><%= item.title %></span>
                  <span class='phones'><%= item.phones %></span>
                  <span class='emails'>
                    <%= item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails %>
                  </span>
                  <span class="address"><%= item.address %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= render :partial => 'regions/reports_part', :locals => { :reports => @reports } if @reports %>

  <% if object.categories %>
    <h2>Подведомственные организации</h2>
    <ul class='subdivisions'>
      <% object.categories.first.subdivisions.each do |item| %>
        <li>
          <h3><a href="#" class='slider'><%= item.title %></a></h3>

          <div class="subdivision_information slider_body">
            <div class="contacts">
              <span class='address'><%= item.address %></span>
              <span class='phones'><%= item.phones %></span>
              <span class='emails'>
                <%= item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails %>
              </span>
              <span class='site'>
                <%= link_to item.site, item.site if item.site %>
              </span>
            </div>

            <h4>Сотрудники</h4>

            <ul class='employees'>
              <% item.items.each do |item| %>
                <li>
                  <% if item.link %>
                    <%= link_to item.person, item.link, :class => 'fio' %>
                  <% else %>
                    <span class="fio"><%= item.person %></span>
                  <% end %>
                  <span class='title'><%= item.title %></span>
                  <span class='phones'><%= item.phones %></span>
                  <span class='emails'>
                    <%= item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails %>
                  </span>
                  <span class="address"><%= item.address %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>

