<div>
  <%= form_tag object.action, :method => :get do %>
    <%= text_field_tag 'parts_params[documents][keywords]', object.keywords %>
    <%= hidden_field_tag 'parts_params[documents][context_id]', object.context_id  %>
    <%= submit_tag 'Поиск' %>
  <% end %>
</div>

<ul class="documents">
  <% object.papers.each do |paper| %>
    <li>
      <%= link_to content_tag(:span, '&nbsp;'.html_safe, :class => 'icon') + paper.title, paper.file_url, :class => extension(paper.file_url) %>
    </li>
  <% end %>
</ul>

<% if object.pagination %>
  <% @array = object.papers %>
  <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>

  <%= paginate @array, :param_name => object.pagination.param_name, :outer_window => 3 %>
<% end %>
