<%= render_navigation(object) %>

<div id="organization_structure">
  <ul class='first'>
    <li class='first_item'>
      <div class="node superior">
        <div class="title">Губернатор Томской области</div>
        <%= image_tag 'http://placekitten.com/g/178/158', :width => '178px', :height => '158px' %>
        <div class="fio">Жвачкин Сергей Анатольевич</div>
      </div>
      <ul class='second'>
        <li class='second_item'>
          <div class="node superior">
            <div class='title'>Заместитель губернатора Томской области по особо важным делам</div>
            <%= image_tag 'http://placekitten.com/g/178/158', :width => '178px', :height => '158px' %>
            <div class="fio">Жвачкин Сергей Анатольевич</div>
          </div>
          <ul class='third'>
            <li class='third_item'>
              <div class='node subdivision'>Департамент природных ресурсов и охраны окружающей среды Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Комитет по мобилизационной подготовке Администрации Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Комитет по развитию атомной энергетики</div>
            </li>
          </ul>
        </li>
        <li class='second_item'>
          <div class='node superior'>
            <div class='title'>Заместитель губернатора Томской области по вопросам безопасности и управлению делами</div>
            <%= image_tag 'http://placekitten.com/g/178/158', :width => '178px', :height => '158px' %>
            <div class="fio">Жвачкин Сергей Анатольевич</div>
          </div>
          <ul class='third'>
            <li class='third_item'>
              <div class='node subdivision'>Консультант по обеспечению деятельности Комиссии по вопросам помилования на территории Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Архивное управление Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Финансово-хозяйственное управление Администрации Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Комитет общественной безопасности Администрации Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Комитет по государственно-правовым вопросам Администрации Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Комитет по обеспечению деятельности мировых судей Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Комитет по общим вопросам Администрации Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Комитет ЗАГС Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Контрольный комитет Администрации Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Отдел по документальной связи и режиму Администрации Томской области</div>
            </li>
          </ul>
        </li>
        <li class='second_item'>
          <div class='node superior'>
            <div class='title'>Заместитель губернатора Томской области по информационной, кадровой политике и взаимодействию с органами местного самоуправления</div>
            <%= image_tag 'http://placekitten.com/g/178/158', :width => '178px', :height => '158px' %>
            <div class="fio">Жвачкин Сергей Анатольевич</div>
          </div>
          <ul class='third'>
            <li class='third_item'>
              <div class='node subdivision'>Департамент государственной гражданской службы и развития местного самоуправления Администрации Томской области</div>
            </li>
            <li class='third_item'>
              <div class='node subdivision'>Департамент по информационной политике и работе с общественностью</div>
            </li>
          </ul>
        </li>
        <li class='second_item'>
          <div class='node subdivision'>Департамент международных и региональных связей</div>
        </li>
        <li class='second_item'>
          <div class='node subdivision'>Отдел по обеспечению деятельности Совета безопасности</div>
        </li>
      </ul>
    </li>
    <li class='first_item'>
      <div class='node superior no_need_links'>
        <div class='title'>Первый заместитель губернатора Томской области (по экономическому развитию)</div>
        <%= image_tag 'http://placekitten.com/g/178/158', :width => '178px', :height => '158px' %>
        <div class="fio">Жвачкин Сергей Анатольевич</div>
      </div>
    </li>
  </ul>
</div>
